<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin - Users</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>

<button class="hamburger" onclick="toggleSidebar()">☰</button>
  <!-- Sidebar -->
 <div class="sidebar" id="sidebar">
    <h2>Admin Panel</h2>
    <ul>
      <li><a href="../adminDashboard/index.html"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
      <li><a href="../adminManageRequests/index.html"><i class="fa-solid fa-code-pull-request"></i> Manage Requests</a></li>
      <li><a href="../adminManageWorkers/index.html" ><i class="fa-solid fa-person-digging"></i> Workers</a></li>
      <li><a href="../adminManageUsers/index.html" class="active"><i class="fa-solid fa-users" ></i> Users</a></li>
      <li><a href="../adminNotifications/index.html"><i class="fa-solid fa-bell"></i> Notifications <span id="notifCount" class="notif-badge">0</span></a></li>
      <li><a href="../adminProfile/index.html"><i class="fa-solid fa-address-card"></i>Profile</a></li>
      <li><a href="../logout/index.html"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
    </ul>
  </div>
  <!-- Main Content -->
  <div class="main-content">
      <h1 class="page-header"><i class="fa-solid fa-users" style="color:#f7c948; margin-right: 10px;"></i> All Users</h1>

      <div id="usersContainer" class="users-container"></div>
  </div>

  <script src="script.js"></script>
</body>
</html>
