<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Requests - EcoClean</title>
  <link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>

  <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="layout">
<button class="hamburger" onclick="toggleSidebar()">☰</button>
  <!-- Sidebar -->
 <div class="sidebar" id="sidebar">
    <h2>EcoClean</h2>
    <ul>
      <li><a href="../citizenDashboard/index.html"><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
      <li><a href="../myRequests/index.html"><i class="fa-solid fa-code-pull-request"></i>My Requests</a></li>
      <li><a href="../new requests/index.html"><i class="fa-solid fa-plus"></i>New Request</a></li>
      <li><a href="../citizenNotification/index.html"  class="active"><i class="fa-solid fa-bell"></i>Notifications <span id="notifCount" class="notif-badge">0</span></a></li>
      <li><a href="../profile/index.html"><i class="fa-solid fa-address-card"></i>Profile</a></li>
      <li><a href="../logout/index.html"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
    </ul>
  </div>


  <div class="main-content">

  
    <header>
      <h1>My Requests</h1>
    </header>

    <div class="filter-section">
      <label for="statusFilter">Filter by Status:</label>
      <select id="statusFilter">
        <option value="">All</option>
        <option value="pending">Pending</option>
        <option value="assigned">Assigned</option>
        <option value="in_progress">In Progress</option>
        <option value="completed">Completed</option>
        <option value="rejected">Rejected</option>
      </select>
    </div>

    
    <div id="requestContainer" class="request-container">
      
    </div>

  </div>
</div>
  <script src="script.js"></script>
</body>
</html>
