
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  background: #f5f7fa;
}

.layout {
  display: flex;
  height: 100vh;
  width: 100%;
}

.sidebar {
  width: 240px;
  background: linear-gradient(180deg, #059669, #10b981);
  color: white;
  padding: 20px;
  overflow-y: auto;
  transition: transform 0.28s ease;
  position: relative;
  z-index: 998;
  flex: 0 0 240px;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar ul  {
  list-style: none;

}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding:12px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
  background: rgba(255, 255, 255, 0.2);
}
.sidebar ul li i{
  margin-right: 10px;
}
.main-content {
  flex: 1;
  width: 100%;
  padding: 20px;
  background: #f5f6fa;

  height: 100vh;
  overflow-y: auto;
}

header h1 {
  color: #059669;
  margin-bottom: 20px;
}

.filter-section {
  width: 100%;
  background: #ffffff;
  padding: 12px 18px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 28px;
  border-left: 4px solid #059669;
}

.filter-section label {
  font-size: 15px;
  font-weight: 600;
  color: #059669;
}

.filter-section select {
  padding: 10px 15px;
  border-radius: 8px;
  border: 1.5px solid #ccc;
  font-size: 15px;
  outline: none;
}

.filter-section select:focus {
  border-color: #10b981;
  box-shadow: 0 0 0 3px rgba(16,185,129,0.15);
}

.request-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.request-card {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background: #fff;
  padding: 30px 40px;
  border-radius: 16px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.request-card:hover {
  transform: translateY(-3px);
}

.left-info {
  flex: 5;
}

.left-info p {
  margin-bottom: 8px;
  font-size: 20px;
}

.left-info span {
  font-weight: 600;
  color: #059669;
}

.status-badge {
  display: inline-block;
  padding: 5px 12px;
  border-radius: 10px;
  font-size: 20px;
  color: #fff !important;
}

.pending { background: #f59e0b; }
.assigned { background: rgb(62, 203, 189); }
.in_progress { background: #2563eb; }
.completed { background: #10b981; }
.rejected { background: #ef4444; }

.right-image {
  flex: 1;
  text-align: center;
}

.right-image img {
  width: 200px;
  height: 220px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.hamburger {
  display: none;
  position: fixed;
  top: 15px;
  left: 10px;
  font-size: 28px;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 9999;
}
.notif-badge {
  background: red;
  color: white;
  padding: 6px 8px;
  border-radius: 50%;
  font-size: 12px;
  margin-left: 6px;
}


.sidebar.open {
  transform: translateX(0);
}

@media (max-width: 768px) {

  .hamburger {
    display: block;
    z-index: 10000;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    z-index: 9999;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .main-content {
    margin-left: 0 !important;
    width: 100% !important;
  }

  .request-card {
    flex-direction: column;
  }

  .right-image img {
    width: 100%;
    height: auto;
  }

  .left-info p {
    font-size: 16px;
  }

  .status-badge {
    font-size: 16px;
  }
}
@media (max-width: 1024px) {

  .hamburger {
    display: block;
    z-index: 10000;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    z-index: 9999;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .main-content {
    margin-left: 0 !important;
    width: 100% !important;
  }

  .request-card {
    flex-direction: column;
  }
  .left-info p {
  margin-bottom: 8px;
  font-size: 10px;
}

  .right-image img {
    width: 100%;
    height: auto;
  }
}
