* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #f5f7fa;
  overflow: hidden; 
} 
/* FULL PAGE LAYOUT */
.layout {
  display: flex;
  height: 100vh; 
  overflow: hidden; 
}

/* SIDEBAR */
.sidebar {
  width: 240px;         
  background: linear-gradient(180deg, #059669, #10b981);
  color: white;
  position: fixed;
  padding: 20px;     
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}
.sidebar h2 {
  text-align: center;
  margin-bottom: 30px;
}
.sidebar ul {
  list-style: none;
}
.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
}
.sidebar ul li i{
  margin-right: 10px;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
  background: rgba(255, 255, 255, 0.2);
}
.notif-badge {
  background: red;
  color: white;
  padding: 6px 8px;
  border-radius: 50%;
  font-size: 12px;
  margin-left: 6px;
}
.main-content {
  margin-left: 260px;    
  flex: 1;
  height: 100vh;
  overflow-y: auto;      
  padding: 20px;
  background: #f5f6fa;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
header h1 {
  color: #059669;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}


.user-info img {
  width: 40px;        
  height: 40px;       
  object-fit: cover; 
  border-radius: 50%; 
  cursor: pointer;
}

.cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: 600;
}

.card span {
  display: block;
  font-size: 32px;
  margin-bottom: 10px;
}

.request-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.request-card {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background: #fff;
  padding: 30px 40px;
  border-radius: 16px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.request-card:hover {
  transform: translateY(-3px);
}

.left-info {
  flex: 5;
}

.left-info p {
  margin-bottom: 8px;
  font-size: 20px;
}

.left-info span {
  font-weight: 600;
  color: #059669;
}

.status-badge {
  display: inline-block;
  padding: 5px 12px;
  border-radius: 10px;
  font-size: 20px;
  color: #fff !important;
}

.pending {
  background: #f59e0b;
}
.assigned {
  background: #3b82f6;
}
.in_progress {
  background: #2563eb;
}
.completed {
  background: #10b981;
}
.rejected {
  background: #ef4444;
}

.right-image {
  flex: 1;
  text-align: center;
}

.right-image img {
  width: 200px;
  height: 220px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

/* Hamburger button */
.hamburger {
  display: none;
  position: fixed;
  top: 15px;
  left: 10px;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  z-index: 999;
}
/* Mobile Responsive */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    left: -250px;
    top: 0;
    height: 100%;
    width: 240px;
    transition: 0.3s;
    z-index: 998;
  }

  .sidebar.open {
    left: 0;
  }

  .hamburger {
    display: block;
  }

  body {
    padding-left: 0 !important;
  }
}






@media (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(4, 1fr); 
    gap: 18px;
  }

  .request-container {
    max-height: 550px;  
    overflow: visible;
  }
}

/*  SMALL DEVICES (MOBILE) */
@media (max-width: 768px) {
  .main-content {
    margin-left: 30px; 
    margin-right: 30px;
  }
  .cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  .request-card {
    flex-direction: column;
    text-align: left;
  }

  .right-image {
    margin-top: 15px;
    text-align: center;
  }

  .right-image img {
    width: 100%;
    max-width: 260px;
    height: auto;
  }

  .request-container {
    max-height: 450px;
    overflow: visible;
  }

  .left-info p {
    font-size: 16px;
  }

  .status-badge {
    font-size: 16px;
  }
}

