<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity - log</title>
    <link rel="stylesheet" href="style.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
</head>
<body>
        <div class="layout">
      <button class="hamburger" onclick="toggleSidebar()">☰</button>
      <!-- Sidebar -->
      <div class="sidebar" id="sidebar">
        <h2>EcoClean</h2>
        <ul>
          <li>
            <a href="../citizenDashboard/index.html"
              ><i class="fas fa-tachometer-alt"></i>Dashboard</a
            >
          </li>
          <li>
            <a href="../myRequests/index.html" class="active"
              ><i class="fa-solid fa-code-pull-request"></i>My Requests</a
            >
          </li>
          <li>
            <a href="../new requests/index.html"
              ><i class="fa-solid fa-plus"></i>New Request</a
            >
          </li>
          <li>
            <a href="../citizenNotification/index.html"
              ><i class="fa-solid fa-bell"></i>Notifications
              <span id="notifCount" class="notif-badge">0</span></a
            >
          </li>
          <li>
            <a href="../profile/index.html"
              ><i class="fa-solid fa-address-card"></i>Profile</a
            >
          </li>
          <li>
            <a href="../logout/index.html"
              ><i class="fas fa-sign-out-alt"></i>Logout</a
            >
          </li>
        </ul>
      </div>

      <div class="main-content">
        <header>
          <h1>My logs</h1>
        </header>
        <div class="log-container" id="logContainer"></div>
      </div>
    </div>
    
    <script src="script.js"></script>
</body>
</html>